*.class
         #package file
         *.war
         *.ear

         #kdiff3 ignore
         *.orig

         #maven ignore
         target/

         #ecalipse ignore
         .settings/
         .project
         .classpatch

         #idea
         .idea/
         /idea/
         *.ipr
         *.iml
         *.iws


         #temp file零时文件

         *.log
         *.cache
         *.diff
         *.patch
         *.tmp

         #system ignore
         .DS_Store
         Thumbs.db


